@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#nome{
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
    font-size: 1.5em;
    scale: 2;
}


#vip{
    padding: 5px;
    background-color: red;
}

#pagina-atual{
    color: #6d6d6d;
}

.link-navi{
    padding: 5px;
}

.link-navi:hover{
    transform: scale(1.2);
    transition: 0.5s;
    border-radius: 10px;
    box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.5);
}

#vip:hover{
    transition: 0.2s;
    border-radius: 10px;
}

#carrinho{
    scale: 0.6;
}

nav{
    display: flex;
    gap: 20px;
    background-color: #003088;
    padding: 30px;
    justify-content: space-evenly;
    color: #EEEEEE;
    align-items: center;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

a{
    color: #EEEEEE;
    text-decoration: none;
}

section{
    background-color: #F5F5F5;
}

footer{
    background-color: darkgray;
    padding: 50px;
}

.ul-rodape{
    flex-direction: column;
    gap: 5px;
    text-align: center;
    margin: auto;
}

.rodape{
    display: flex;
    flex-direction: row;
}

.titulo-pagina-filme{
    background-color: #aaa8a8;
    border-radius: 50px;
    text-align: center;
    padding: 10px;
    width: 400px;
}


.pagina-filme{
    display: flex;
    text-align: center;
    max-width: 800px;
    margin: auto;
    gap: 30px;
}

.rodape-copy{
    display: flex;
    align-items: center;
    padding-top: 40px;
    gap: 20px;
    text-align: center;
    justify-content: center;
}

.rodape-2{
    color: black;
    font-size: small;
}

ol{
    list-style: decimal-leading-zero;
}