@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

nav{
    display: flex;
    gap: 20px;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;

}