<!DOCTYPE html>     
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/home.css">    
    <title>Cinema</title>
</head>
<body>
    <header>
        <nav>
            <span id="nome">Cinema™</span>
            <ul>
                <a href="catalogo.html" target="_self" class="link-navi"><li>PROGRAMAÇÃO</li></a>
                <li id="pagina-atual">HOME</li>
                <a href="quemsomos.html" target="_self" class="link-navi"><li>CONTATO</li></a>
                <a href=""><li id="vip">CINEMA VIP</li></a>
            </ul>
            <a href=""><img src="../Imagens/carrinho.png" alt="Carrinho" id="carrinho"></a>
        </nav>
    </header>
    <main>
        <section id="home-fotos">
            <h2>Onde está a Dora?</h2>
            <div>
                <img src="" alt="">
                <p>
                    "Onde Está a Dora?" é uma comédia hilariante que narra as desventuras de um jovem excêntrico chamado Pedro, cujo cabelo peculiarmente 
                    semelhante ao da famosa personagem de desenho animado, Dora, o deixa constantemente em situações constrangedoras. Determinado a 
                    encontrar seu lugar no mundo, Pedro embarca em uma jornada repleta de confusões e trapalhadas enquanto tenta descobrir sua verdadeira
                    identidade e superar os obstáculos que surgem em seu caminho. Com o apoio de amigos igualmente excêntricos e uma boa dose de humor, 
                    Pedro aprende valiosas lições sobre autenticidade, aceitação e o verdadeiro significado da amizade. Prepare-se para muitas risadas 
                    e momentos inesquecíveis neste filme repleto de diversão e aventura.
                </p>
            </div>
        </section>
    </main>
    <footer>
        <div class="rodape">
            <ul class="ul-rodape">
                <h3><li class="lider">Localização</li></h3>
                <li>Av. Olavo de Carvalho, 110</li>
                <li>Campinas, São Paulo</li>
                <li>CEP: 15780-860</li>
            </ul>

            <ul class="ul-rodape">
                <h3><li class="lider">Contato</li></h3>
                <li>Telefone: (14) 3030-4040</li>
                <li>Email: contato@cinema.com.br</li>
            </ul>
        </div>
        <div>
            <div id="copy-rodape"><span>&copy;2024 Cinema. Todos os direitos reservados</span></div>
        </div>
    </footer>
    <script src="/script.js"></script>
</body>
</html>