@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh; /* Definindo a altura total da viewport */
    background-image: linear-gradient(to right, #455a66, #062030);
    position: relative; /* Definindo posição relativa */

}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.div-login{
    background-color: #eeeeee77;
    border-radius: 20px;
    box-shadow: 1px 2px 10px black;
    padding: 30px;
}

.nome-projeto{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.titulo-projeto{
    font-size: 4em;
    text-shadow:  1px 2px 2px #EEEEEE;
}

.organizacao-form{
    display: flex;
    flex-direction: column;
}

.botao-e-senha{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

button{
    border-radius: 20px;
    padding: 10px;
    border: none;
}

button:hover{
    background-color: gainsboro;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: #061c2b;
}

a:hover{
    color: white;
}

input{
    border-radius: 10px;
    height: 1.5em;
    margin: 10px 0px;
    border: none;
    box-shadow: 1px 1px 10px black;
    outline: none;
    font-size: 1.2em;
}

label{
    font-size: 1.4em;
    color: #EEEEEE;
}

#login-nome{
    margin-bottom: 30px;
}