@charset "UTF-8";

body{
    background-color: #0c283a;
}

.imagens-tempo{
    height: 200px;
}

#home-filme img{
    border-radius: 20px;
}

#home-filme{
    display: flex;
    margin: auto;
    padding: 100px 0px;
    gap: 40px;
    text-align: center;
    align-items: center;
    width: 70%;
}

.titulo-pagina-filme{
    padding-bottom: 40px;
}

.descricao-filme{
    color: #a3a3a3;
}

.descricao-filme h2{
    color: white;
}

.descricao-filme p{
    text-align: justify;
    font-size: 1.3em;
}

.horario-programacao{
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
    margin: 40px auto;
    background-color: #03121b;
    width: 40%;
    padding: 15px;
    border-radius: 10px;
    color: #EEEEEE;
    text-transform: uppercase;
}

.horario-programacao a{
    color: green;
    padding: 5px;
    border-radius: 10px;
}

.horario-programacao a:hover{
    background-color: rgba(0, 128, 0, 0.329);
    border-radius: 10px;

}