@charset "UTF-8";

#catalogo-main{
    background-color: #0c283a;
}

.imagens-tempo{
    height: 200px;
}

#home-filme img{
    border-radius: 20px;
}

#home-filme{
    display: flex;
    margin: auto;
    padding: 100px 0px;
    gap: 40px;
    text-align: center;
    align-items: center;
    width: 70%;
}

.titulo-pagina-filme{
    padding-bottom: 40px;
}

