@charset "UTF-8";

section{
    width: 60%;
    background-color: #F5F5F5;
    line-height: 1.5;
    margin: auto;
    text-align: justify;
    padding: 50px;
}

ol{
    padding: 10px 0px 10px 20px;
    list-style-position: inside;
    list-style: decimal-leading-zero;
}

.lista-sem-stilo{
    display: flex;
    flex-direction: column;
    list-style: none;
    list-style-position: inside;
}