<!DOCTYPE html>     
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/home.css">    
    <link rel="stylesheet" href="/static/CSS/programacao.css">
    <title>Catalogo</title>
</head>
<body>
    <header>
        <nav>
            <div class="nome-projeto">
                <span class="titulo-projeto">My</span>
                <img src="/static/Imagens/moon.png">
                <span class="titulo-projeto">Cine</span>
            </div>
            <ul>
                <a href="/catalogo" target="_self" class="link"><li>PROGRAMAÇÃO</li></a>
                <li id="pagina-atual">HOME</li>
                <a href="/quemsomos" target="_self" class="link"><li>SOBRE NÓS</li></a>
                <a href=""><li id="vip">CINEMA VIP</li></a>
            </ul>
        </nav>
    </header>
    <main id="catalogo-main">
        <section id="home-filme">
            <img src="/static/Imagens/cade a dora.jpg">
            <div class="descricao-filme">
                <h2 class="titulo-pagina-filme">Onde está a Dora?</h2>
                <p>
                    "Onde Está a Dora?" é uma comédia hilariante que narra as desventuras de um jovem excêntrico chamado Pedro, cujo cabelo peculiarmente 
                    semelhante ao da famosa personagem de desenho animado, Dora, o deixa constantemente em situações constrangedoras. Determinado a 
                    encontrar seu lugar no mundo, Pedro embarca em uma jornada repleta de confusões e trapalhadas enquanto tenta descobrir sua verdadeira
                    identidade e superar os obstáculos que surgem em seu caminho. Com o apoio de amigos igualmente excêntricos e uma boa dose de humor, 
                    Pedro aprende valiosas lições sobre autenticidade, aceitação e o verdadeiro significado da amizade. Prepare-se para muitas risadas 
                    e momentos inesquecíveis neste filme repleto de diversão e aventura.
                </p>
            </div>
        </section>
        <section id="catalogo-horarios-link">
            <div class="horario-programacao">
                <h2>Horários disponíveis</h2>
                <p>Dia 20/04</p>
                <p>17h30</p>
                <a href="/salaDora" target="_self"><p><strong>Comprar</strong></p></a>
            </div>
        </section>
    </main>
    <footer>
        <div class="rodape">
            <ul class="ul-rodape">
                <h3><li class="lider">Localização</li></h3>
                <li>Av. Olavo de Carvalho, 110</li>
                <li>Campinas, São Paulo</li>
                <li>CEP: 15780-860</li>
            </ul>

            <ul class="ul-rodape">
                <h3><li class="lider">Contato</li></h3>
                <li>Telefone: (14) 3030-4040</li>
                <li>Email: contato@cinema.com.br</li>
            </ul>
        </div>
        <hr>
        <div class="rodape-copy">
            <div id="copy-rodape"><span>&copy;2024 Cinema. Todos os direitos reservados</span></div>
            <a href="/politica_priv" target="_self" class="rodape-2">POLÍTICA DE PRIVACIDADE</a>
            <a href="/termo_uso" target="_self" class="rodape-2">TERMO DE USO</a>
        </div>
    </footer>
</body>
</html>