<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/login.css">
    <title>Login</title>
</head>
<body>
    <main class="login">
        <div class="nome-projeto">
            <span class="titulo-projeto">My</span>
            <img src="/static/Imagens/moon.png">
            <span class="titulo-projeto">Cine</span>
        </div>
        <div class="div-login">
            <h2 id="login-nome">Login</h2>
            <form id="loginForm">
                <div class="organizacao-form">
                    <label for="usuario">User:</label>
                    <input type="text" id="usuario" name="usuario" required>
                </div>
                <div class="organizacao-form">
                    <label for="senha">Password:</label>
                    <input type="password" id="senha" name="senha" required>
                </div>
                <div class="botao-e-senha">
                    <button type="submit">Entrar</button>
                    <a href="/cadastro">Ainda não possui uma conta? Cadastre-se aqui.</a>
                </div>
            </form>
        </div>
    </main>
    <div id="mensagem"></div>
    <script src="/static/JS/login.js"></script>
</body>
</html>