<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/login.css">  
    <title>MyMoon Cinemas</title>
</head>
<body>
    <section class="login">
        <h1>MyMoon Cinemas</h1>
        <div class="div-login">
            <h2>Entrar</h2>
            <input type="text" id="email">
            <input type="text" id="senha">
            <a href="/templates/cadastro.html">cas</a>
        </div>
    </section>
</body>
</html>