<!DOCTYPE html>     
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/home.css">    
    <title>Cinema</title>
</head>
<body>
    <header>
        <nav>
            <span id="nome">Cinema™</span>
            <ul>
                <a href="catalogo.html" target="_self" class="link-navi"><li>PROGRAMAÇÃO</li></a>
                <a href="index.html" target="_self" class="link-navi"><li>HOME</li></a>
                <a href="quemsomos.html" target="_self" class="link-navi"><li>CONTATO</li></a>
                <a href="cinemavip.html"><li id="vip">CINEMA VIP</li></a>
            </ul>
            <a href="Carrinho"><img src="../Imagens/carrinho.png" alt="Carrinho" id="carrinho"></a>
        </nav>
    </header>
    <main>
        <section>
            <h2>POLÍTICA DE PRIVACIDADE</h2>
            <span>Cinema LTDA (CINEMA)</span>
            <p>Versão 1.2. Atualizada em 14 de março de 2024</p>
            <p>Controlador: Cinemark Brasil S.A., com sede em São Paulo/SP, na Av. Doutor Chucri Zaidan, nº 920, 15º andar, CEP 04583-904, inscrita no CNPJ sob o nº 00.779.721/0001- 41 (“Cinemark”).</p>
            <p>Esta Política de Privacidade (“Política de Privacidade”) dispõe sobre a coleta, uso, processamento e compartilhamento de informações e sobre o Tratamento de Dados Pessoais realizado pela Cinemark, durante o acesso e a utilização do endereço eletrônico da Cinemark disponível em www.cinemark.com.br (“Site”), do Aplicativo Cinemark (“App”), dos Pontos de Venda da Cinemark (“PDV”) e do calendário anual de filmes que estarão em cartaz na Cinemark (“Calendário Cinemark”), em conjunto denominados “Canais Cinemark”, de acordo com as obrigações estipuladas pela Lei Federal nº 12.965, de 23 de abril de 2014 (“MCI”), pelo Decreto nº 8.771/16, pela Lei Federal nº 13.709, de 14 de agosto de 2018 (“LGPD”), bem como das demais leis e regulamentos aplicáveis a qualquer Tratamento de Dados Pessoais (“Legislação de Proteção de Dados Aplicável”).</p>
            <p>Quando iniciados em letras maiúsculas, os termos “Tratamento”, “Controlador(a)”, “Operador(a)”, “Titular de Dados”, “Titular” e “Dados Pessoais” terão os significados a eles atribuídos na LGPD.</p>
            <p>Essa Política de Privacidade é dividida da seguinte forma:</p>
            <ol>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
            </ol>
            <span>1. Objetivo da Política de Privacidade</span>
            <p>A Cinemark preza pela segurança e confidencialidade das informações fornecidas pelos usuários nos Canais Cinemark (“Usuários”). Por esta razão, adotamos as medidas necessárias para resguardar os seus direitos, as quais podem ser encontradas nesta Política de Privacidade, que é parte integrante dos Termos e Condições de Uso (“Termos de Uso”).</p>
            <p>Essa Política de Privacidade detalha como Tratamos os Dados Pessoais e demais informações compartilhadas pelos Usuários nos Canais Cinemark e, explicita como são coletados, acessados, armazenados, utilizados, processados, transferidos e divulgados os seus Dados Pessoais, e ainda, como permitimos que o Usuário, acesse, retifique, apague ou restrinja o Tratamento desses Dados Pessoais, quando aplicável.</p>
            <p>A Cinemark se reserva o direito de modificar esta Política de Privacidade de maneira unilateral, garantido, entretanto, que os Usuários sejam devidamente notificados sobre eventuais alterações. Manteremos públicas e acessíveis quaisquer novas versões desta Política de Privacidade nos Canais Cinemark, além de disponibilizá-las ao seu e-mail cadastrado.</p>
            <span>2. Dados Pessoais Coletados pela Cinemark</span>
            <span>2.1. Informações e Dados Pessoais necessários para a criação de conta de acesso e para utilização de funcionalidades</span>
            <p>A Cinemark solicitará o fornecimento de alguns Dados Pessoais do Usuário para a finalidade de criação da sua conta de acesso dos Canais Cinemark, para adquirir ingressos online ou diretamente no PDV, para aderir ao programa de fidelidade, para usufruir os benefícios oferecidos, para adquirir os ingressos e produtos online e para o envio de informações sobre os filmes cujo interesse foi manifestado pelo Usuário no Calendário Cinemark. O Tratamento desses Dados Pessoais pela Cinemark será realizado com base na execução do contrato entre o Usuário e a Cinemark e eventualmente, para cumprimento de obrigações legais ou mediante consentimento manifestado pelo Usuário, conforme aplicável.</p>
            <p>Para tais finalidades, poderão ser coletados os seguintes Dados Pessoais do Usuário: Nome completo, CPF, Celular, Gênero, Data de Nascimento, Estado, Cidade e E-mail. Também coletaremos informações para pagamento, como seu número de cartão de crédito.</p>
            <span>2.2. Informações e Dados Pessoais que o Usuário escolhe fornecer</span>
            <p>O Usuário poderá optar por fornecer alguns Dados Pessoais para aprimorar sua experiência ao utilizar os Canais Cinemark ou para exercer suas preferências, como cadastro e recebimento de mailing, novidades e promoções, notificações por e-mail, WhatsApp e Push no App, informações adicionais em seu perfil e preferências de gêneros de filmes. Essas informações e Dados Pessoais serão tratados com base no legítimo interesse ou consentimento (no caso do Calendário Cinemark), sendo cabível ao Usuário o opt-out do recebimento de mailing e informações adicionais de preferência</p>
            <span>2.3. Informações e Dados Pessoais coletados durante a utilização dos Canais da Cinemark</span>
            <p>A Cinemark poderá coletar informações de navegação, dados de comportamento ou Dados Pessoais, como o endereço de IP de origem do Usuário, de forma automatizada para a aprimorar nossos serviços e a utilização de funcionalidades que beneficiem os Usuários, de acordo com os interesses legítimos da Cinemark.</p>
            <p>A Cinemark utiliza cookies, que são pequenos arquivos de texto armazenados que podem ser acessados posteriormente para verificar informações de navegação. As categorias de cookies utilizadas pelo Cinemark são: (i) cookies necessários; (ii) cookies analíticos; (iii) cookies de identificação e funcionalidade; (iv) cookies de desempenho; (v) cookies de publicidade e direcionamento; e (v) cookies de terceiros. Abaixo, descrevemos suas principais funcionalidades:</p>
            <ol>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ol>
            <p>O Usuário pode alterar as configurações para bloquear cookies ou alertá-lo quando um cookie estiver sendo enviado para seu dispositivo nas configurações de seu navegador de Internet. Existem várias formas de gerenciar cookies. Consulte as instruções do seu navegador ou a seção de ajuda para saber mais sobre como ajustar ou alterar as configurações do seu navegador. A seguir, disponibilizamos links de alguns navegadores que podem ser utilizados para que o Usuário saiba como alterar a configuração de cookies em tais navegadores: Firefox | Cookies, Safari | Cookies, Chrome | Cookies e Microsoft | Cookies.</p>
            <p>Desabilitar os cookies que utilizamos pode impactar sua experiência nas Plataformas Cinemark, por exemplo, você talvez não possa visitar certas áreas das Plataformas Cinemark ou talvez não receba informações personalizadas quando visitá-las.</p>
            <p>Caso você use dispositivos diferentes para visualizar e acessar as Plataformas Cinemark deve assegurar-se de que cada navegador de cada dispositivo está ajustado para atender suas preferências quanto aos cookies.</p>
            <p>A Cinemark também utiliza a tecnologia de geolocalização em seu App, por meio de tecnologia de propriedade da BLP Desenvolvimento De Software Ltda (“Flowsense”), que permite o recebimento de informações sobre as visitas aos estabelecimentos comerciais da Cinemark, sem identificar o diretamente o Usuário, para fins de exibição de anúncios personalizados, envio de mensagens contextualizadas via push (compatíveis com a sua localização) e a validação de endereço automatizada. Neste caso, a coleta da sua geolocalização somente ocorrerá se você permitir, a partir das configurações de seu dispositivo.</p>
            <p>Os Canais Cinemark podem conter links para Sites de terceiros, que não estão sujeitos às disposições desta Política de Privacidade. É recomendado que os Usuários consultem as políticas de privacidade de terceiros antes de interagir com os seus Sites</p>
            <p>Os Dados Pessoais coletados pela Cinemark serão armazenados de forma segura e, quando não forem mais necessários, serão descartados, a menos que seu armazenamento seja exigido para cumprimento das obrigações de leis locais e nacionais aplicáveis ou para o exercício regular dos direitos da Cinemark.</p>
            <span>2.3. Informações e Dados Pessoais coletados durante a utilização dos Canais da Cinemark</span>
            <p>A Cinemark poderá coletar informações e Dados Pessoais dos Usuários a partir de terceiros, por exemplo, mediante acesso dos Usuários a partir de serviços prestados por terceiros (e.g. integração com o Facebook), de fornecedores terceiros para prevenção e detecção de fraudes em transações financeiras, para mensurar as interações dos Usuários e visitantes dos Canais Cinemark com os anúncios publicados, entre outros.</p>
            <p>Para que o Usuário usufrua das funcionalidades do Calendário Cinemark (avisos relativos aos filmes de seu interesse e outras novidades da Cinemark), a Cinemark coletará, por meio empresa contratada para a administração do site Calendário Cinemark, dados básicos de cadastro e dados sobre as escolhas do Usuário.</p>
            <p>A Cinemark tratará os Dados Pessoais apenas para o cumprimento das finalidades descritas e de acordo com as disposições legais aplicáveis ao Tratamento.</p>
            <span>3. Compartilhamento de Dados Pessoais</span>
            <p>Os Dados Pessoais coletados durante a utilização dos Canais serão compartilhados com os seguintes terceiros:</p>
        </section>
    </main>
    <footer>
        <div class="rodape">
            <ul class="ul-rodape">
                <h3><li class="lider">Localização</li></h3>
                <li>Av. Olavo de Carvalho, 110</li>
                <li>Campinas, São Paulo</li>
                <li>CEP: 15780-860</li>
            </ul>

            <ul class="ul-rodape">
                <h3><li class="lider">Contato</li></h3>
                <li>Telefone: (14) 3030-4040</li>
                <li>Email: contato@cinema.com.br</li>
            </ul>
        </div>
        <hr>
        <div class="rodape-copy">
            <div id="copy-rodape"><span>&copy;2024 Cinema. Todos os direitos reservados</span></div>
            <a href="politica_priv.html" target="_self" class="rodape-2">POLÍTICA DE PRIVACIDADE</a>
            <a href="termo_uso.html" target="_self" class="rodape-2">TERMO DE USO</a>
        </div>
    </footer>
    <script src="/script.js"></script>
</body>
</html>