<!DOCTYPE html>     
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/home.css">    
    <link rel="stylesheet" href="/static/CSS/programacao.css">
    <title>Contato</title>
</head>
<body>
    <header>
        <nav>
            <div class="nome-projeto">
                <span class="titulo-projeto">My</span>
                <img src="/static/Imagens/moon.png">
                <span class="titulo-projeto">Cine</span>
            </div>
            <ul>
                <a href="/catalogo" target="_self" class="link"><li>PROGRAMAÇÃO</li></a>
                <li id="pagina-atual">HOME</li>
                <a href="/quemsomos" target="_self" class="link"><li>SOBRE NÓS</li></a>
                <a href=""><li id="vip">CINEMA VIP</li></a>
            </ul>
        </nav>
    </header>
    <main>
        <section id="sobre-nos-descri">
            <p>Bem-vindo ao MyMoonCine! Somos apaixonados por cinema e dedicados a oferecer a melhor experiência cinematográfica para nossos visitantes. Aqui, você encontra as últimas estreias, clássicos inesquecíveis e eventos exclusivos, tudo em um ambiente confortável e moderno. Nossa missão é transformar cada visita ao cinema em uma aventura memorável. Venha viver a magia do cinema com a gente!</p>
        </section>
    </main>
    <footer>
        <div class="rodape">
            <ul class="ul-rodape">
                <h3><li class="lider">Localização</li></h3>
                <li>Av. Olavo de Carvalho, 110</li>
                <li>Campinas, São Paulo</li>
                <li>CEP: 15780-860</li>
            </ul>

            <ul class="ul-rodape">
                <h3><li class="lider">Contato</li></h3>
                <li>Telefone: (14) 3030-4040</li>
                <li>Email: contato@cinema.com.br</li>
            </ul>
        </div>
        <hr>
        <div class="rodape-copy">
            <div id="copy-rodape"><span>&copy;2024 Cinema. Todos os direitos reservados</span></div>
            <a href="/politica_priv" target="_self" class="rodape-2">POLÍTICA DE PRIVACIDADE</a>
            <a href="/termo_uso" target="_self" class="rodape-2">TERMO DE USO</a>
        </div>
    </footer>
</body>
</html>